*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #12141D;
  color: #FFFFFF;
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1140px) {
  [class*="__container"] {
    max-width: 1080px;
  }
}

/* TABLET */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 850px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

.main {
  flex: 1 1 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
}

.menu__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item {
  padding: 31px 40px 24px 0px;
}

.menu__item:last-child {
  padding-right: 0;
}

.menu__link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.menu__link:hover {
  text-decoration: 2px underline #FFFFFF;
}

.button {
  padding: 15px 0px 8px;
}

.button__link {
  width: 157px;
  height: 53px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #4080BF;
  border-radius: 10px;
  padding: 13px 28px 13px 27px;
}

@media (max-width: 991.98px) {
  .menu__item {
    padding: 25px 15px 24px 0px;
  }
}

@media (max-width: 767.98px) {
  .header .button {
    display: none;
  }
  .header__container {
    justify-content: space-around;
  }
  .menu__item {
    padding: 15px 15px 15px 0px;
  }
  .menu__link {
    font-size: 16px;
  }
}

@media (max-width: 479.98px) {
  .menu__item {
    padding: 10px 10px 10px 0px;
  }
  .menu__link {
    font-size: 14px;
  }
}

/* --------------------Hero Section-------------------- */
.hero__container {
  margin: 50px auto;
}

.hero__content {
  display: flex;
  flex-direction: column;
  margin-top: 207px;
}

.hero__image {
  display: flex;
  justify-content: flex-end;
  background-image: url("../img/hero/main.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 650px;
}

.hero__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 61px;
  line-height: 92px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.hero__subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.hero__button-link {
  padding: 13px 28px 13px 27px;
  width: 157px;
  height: 53px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #4080BF;
  border-radius: 10px;
  padding: 13px 28px 13px 27px;
}

/* PC */
@media (max-width: 991.98px) {
  .hero__container {
    margin: 0 auto;
  }
  .hero__content {
    margin-top: 15px;
  }
  .hero__image {
    height: 500px;
    justify-content: center;
  }
  .hero__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 51px;
    line-height: 82px;
  }
  .hero__subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
  }
}

/* TABLET */
@media (max-width: 767.98px) {
  .hero__container {
    background: linear-gradient(106.17deg, rgba(40, 40, 40, 0.56) -25.28%, rgba(38, 38, 38, 0.24) 123.88%), url("../img/hero/main_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 0 auto;
  }
  .hero__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
  }
  .hero__subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    margin-bottom: 0;
  }
  .hero__image {
    background-image: none;
    justify-content: center;
    height: 400px;
  }
}

/* MOBILE */
@media (max-width: 479.98px) {
  .hero__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 60px;
    margin-bottom: 0;
  }
  .hero__subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    margin-bottom: 10px;
  }
}

/* --------------------About Us Section-------------------- */
.about-us__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  padding: 100px 0px 40px 0px;
}

.about-us__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.about-us__item {
  display: flex;
}

.item__image {
  padding-right: 30px;
}

.item_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-transform: capitalize;
}

.item__descriptions {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
}

/* PC */
@media (max-width: 991.98px) {
  .about-us__title {
    padding: 0px 0px 20px 0px;
  }
}

/* TABLET */
@media (max-width: 767.98px) {
  .about-us__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    padding: 0px 0px 20px 0px;
    text-align: center;
  }
  .about-us__items {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;
  }
}

/* MOBILE */
@media (max-width: 479.98px) {
  .about-us__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    padding: 0px 0px 20px 0px;
  }
  .item_title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
  }
  .item__descriptions {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
  }
}

/* --------------------Services Section-------------------- */
.services__title {
  padding: 100px 0px 50px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 83px;
  text-align: center;
  text-transform: capitalize;
}

.services__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.services__item {
  background: #1E2028;
  border-radius: 10px;
  height: 100%;
  padding: 20px 20px 40px 20px;
}

.item__image {
  margin-bottom: 50px;
}

.item__text {
  margin-bottom: 50px;
}

.item__title {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
}

.item__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.item__link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.item__link a {
  color: #A1C5E9;
}

.item__link a:hover {
  text-decoration: 2px underline #A1C5E9;
}

.item__link img {
  padding-left: 20px;
}

/* PC */
/* TABLET */
@media (max-width: 767.98px) {
  .services__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 53px;
    padding: 20px 0;
  }
  .services__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 0;
  }
}

/* MOBILE */
@media (max-width: 479.98px) {
  .services__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
  }
  .services__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}

/* --------------------Projects Section-------------------- */
.projects__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px 0px 50px 0px;
}

.projects__title-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
}

.projects__link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A1C5E9;
}

.projects__link:hover {
  text-decoration: 2px underline #A1C5E9;
}

.projects__link img {
  padding-left: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.gallery__image img {
  border-radius: 10px;
  max-width: 100%;
}

/* PC */
/* TABLET */
@media (max-width: 767.98px) {
  .projects__title {
    padding: 20px;
    align-items: center;
  }
  .projects__title-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 53px;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

/* MOBILE */
@media (max-width: 479.98px) {
  .projects__title-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
  }
}

/* --------------------Founders Section-------------------- */
.founders__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
  padding: 100px 0px 50px 0px;
  text-align: center;
}

.founders__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 50px;
}

.founders__items-left {
  display: flex;
  flex-direction: column;
}

.founders__items-left-1 {
  display: flex;
  margin-bottom: 25px;
  align-items: flex-end;
}

.founders__items-left-1 img {
  border-radius: 100px 0px 0px 0px;
}

.founders__items-left-1 .item-left__text {
  padding-bottom: 17px;
}

.founders__items-left-2 {
  display: flex;
  align-items: flex-end;
}

.founders__items-left-2 img {
  border-radius: 0px 0px 0px 100px;
}

.founders__items-left-2 .item-left__text {
  padding-bottom: 86px;
}

.founders__items-right {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.founders__items-right-1 {
  display: flex;
  margin-bottom: 25px;
  align-items: flex-end;
}

.founders__items-right-1 img {
  border-radius: 0px 100px 0px 0px;
}

.founders__items-right-1 .item-right__text {
  padding-bottom: 10px;
}

.founders__items-right-2 {
  display: flex;
  align-items: flex-end;
}

.founders__items-right-2 img {
  border-radius: 0px 0px 100px 0px;
}

.founders__items-right-2 .item-right__text {
  padding-bottom: 110px;
}

.item-left__text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  padding-right: 15px;
}

.item-left__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.item-left__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}

.item-right__text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding-left: 15px;
}

.item-right__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.item-right__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}

/* PC */
/* TABLET */
@media (max-width: 767.98px) {
  .founders__items-left-1 {
    flex-direction: column;
    align-items: center;
  }
  .founders__items-left-1 img {
    border-radius: 0;
  }
  .founders__items-left-1 .item-left__text {
    padding: 0px 0px 10px 0px;
    text-align: center;
  }
  .founders__items-left-2 {
    flex-direction: column;
    align-items: center;
  }
  .founders__items-left-2 img {
    border-radius: 0;
  }
  .founders__items-left-2 .item-left__text {
    padding: 0px 0px 10px 0px;
    text-align: center;
  }
  .founders__items-right {
    margin-top: 0;
  }
  .founders__items-right-1 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .founders__items-right-1 img {
    border-radius: 0;
  }
  .founders__items-right-1 .item-right__text {
    padding: 0px 0px 10px 0px;
    text-align: center;
  }
  .founders__items-right-2 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .founders__items-right-2 img {
    border-radius: 0;
  }
  .founders__items-right-2 .item-right__text {
    padding: 0px 0px 10px 0px;
    text-align: center;
  }
  .founders__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 53px;
    padding: 20px 0;
  }
  .founders__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* MOBILE */
@media (max-width: 479.98px) {
  .founders__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
  }
}

/* --------------------Testimonial Section-------------------- */
.testimonial__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  margin: 150px 0px;
}

.testimonial__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 83px;
}

.testimonial__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
}

.quotes {
  background-color: #1E2028;
  border-radius: 10px;
  padding: 46px 35px;
  display: flex;
  flex-direction: column;
}

.quotes__image {
  margin-bottom: 20px;
}

.quotes__image img {
  float: right;
}

.quotes__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 31px;
  margin-bottom: 50px;
}

.quotes__slider {
  padding: 0 45%;
}

.profile {
  display: flex;
  margin-bottom: 17px;
  align-items: center;
}

.profile__image {
  margin-right: 20px;
}

.profile__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.profile__subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

/* PC */
@media (max-width: 991.98px) {
  .testimonial__block {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .testimonial__text {
    text-align: center;
  }
}

/* TABLET */
@media (max-width: 767.98px) {
  .testimonial__block {
    margin: 0px 0px 50px 0px;
  }
  .testimonial__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 53px;
  }
  .testimonial__description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
  }
}

/* MOBILE */
/* --------------------CTA Section-------------------- */
.call-to-action {
  background-color: #1E2028;
  margin-bottom: 50px;
}

.call-to-action__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
  padding: 50px 0px 36px 0px;
  text-align: center;
}

.call-to-action__button {
  text-align: center;
  margin-bottom: 50px;
}

.achievements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0px 166px;
  padding-bottom: 50px;
}

.achievements__clients {
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}

.achievements__clients__count {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.achievements__clients__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.achievements__projects {
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}

.achievements__projects__count {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.achievements__projects__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.achievements__awards {
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}

.achievements__awards__count {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.achievements__awards__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

/* PC */
@media (max-width: 991.98px) {
  .achievements {
    margin: 0 auto;
  }
}

/* TABLET */
@media (max-width: 767.98px) {
  .call-to-action__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    padding: 20px 0px 20px 0px;
  }
}

/* MOBILE */
@media (max-width: 479.98px) {
  .achievements {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .achievements__clients {
    border-left: none;
    border-right: none;
  }
  .achievements__projects {
    border-left: none;
    border-right: none;
  }
  .achievements__awards {
    border-left: none;
    border-right: none;
  }
  .call-to-action__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    padding: 20px 0px 20px 0px;
  }
}

.footer {
  border-top: 1px solid #1E2028;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  padding: 50px 0px 10px 0px;
}

.footer__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 20px;
}

.footer__link {
  padding-right: 10px;
}

.input__email {
  position: relative;
  max-width: 255px;
  width: 100%;
  margin: 0 auto;
}

.input__email input {
  position: relative;
  opacity: 0.6;
  border-radius: 8px;
  outline: none;
  padding: 10px 35px 10px 10px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  width: 100%;
}

.input__email input[type="submit"] {
  background: url("../img/footer/send.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: -17px;
}

.company__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 50px 0px 20px 0px;
}

.company__item {
  padding-bottom: 10px;
}

.company__link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.company__link:hover {
  text-decoration: 2px underline #FFFFFF;
}

.support__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 50px 0px 20px 0px;
}

.support__item {
  padding-bottom: 10px;
}

.support__link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.support__link:hover {
  text-decoration: 2px underline #FFFFFF;
}

.input__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 50px 0px 18px 0px;
}

/* PC */
/* TABLET */
@media (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
    text-align: center;
  }
  .company__title {
    font-size: 24px;
    padding: 20px 0;
  }
  .support__title {
    font-size: 24px;
    padding: 20px 0;
  }
  .input__title {
    font-size: 24px;
    padding: 20px 0;
  }
}

/* MOBILE */
