/* --------------------Hero Section-------------------- */
.hero {
    &__container {
        margin: 50px auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 207px;
    }

    &__image {
        display: flex;
        justify-content: flex-end;
        background-image: url('../img/hero/main.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 650px;
    }

    &__title {
        @include fonts(800, 61px, 92px);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
    }

    &__subtitle {
        @include fonts(400, 20px, 38px);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
    }

    &__button-link {
        padding: 13px 28px 13px 27px;
        @include btn;
    }
}

/* PC */
@media (max-width: 991.98px) {
    .hero {
        &__container {
            margin: 0 auto;
        }

        &__content {
            margin-top: 15px;
        }

        &__image {
            height: 500px;
            justify-content: center;
        }

        &__title {
            @include fonts(800, 51px, 82px);
        }

        &__subtitle {
            @include fonts(400, 20px, 38px);
        }
    }
}

/* TABLET */
@media (max-width: 767.98px) {
    .hero {
        &__container {
            background: linear-gradient(106.17deg, rgba(40, 40, 40, 0.56) -25.28%, rgba(38, 38, 38, 0.24) 123.88%), url('../img/hero/main_1.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
            margin: 0 auto;
        }

        &__title {
            @include fonts(800, 40px, 60px);
        }

        &__subtitle {
            @include fonts(400, 16px, 38px);
            margin-bottom: 0;
        }

        &__image {
            background-image: none;
            justify-content: center;
            height: 400px;
        }
    }
}

/* MOBILE */
@media (max-width: 479.98px) {
    .hero {
        &__title {
            @include fonts(800, 35px, 60px);
            margin-bottom: 0;
        }

        &__subtitle {
            @include fonts(400, 14px, 38px);
            margin-bottom: 10px;
        }
    }
}

/* --------------------About Us Section-------------------- */
.about-us {

    &__title {
        @include fonts(800, 50px, 70px);
        padding: 100px 0 40px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
    }
}

.item {

    &__image {
        padding-right: 30px;
    }

    &_title {
        @include fonts(600, 28px, 42px);
        text-transform: capitalize;
    }

    &__descriptions {
        @include fonts(300, 16px, 30px);
        text-transform: capitalize;
    }
}

/* PC */
@media (max-width: 991.98px) {
    .about-us {
        &__title {
            padding: 0 0 20px;
        }
    }
}

/* TABLET */
@media (max-width: 767.98px) {
    .about-us {
        &__title {
            @include fonts(800, 40px, 50px);
            text-align: center;
        }

        &__items {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 0;
        }
    }
}

/* MOBILE */
@media (max-width: 479.98px) {
    .about-us {
        &__title {
            @include fonts(800, 30px, 50px);
            padding: 0 0 20px;
        }
    }

    .item {
        &_title {
            @include fonts(600, 22px, 30px);
        }

        &__descriptions {
            @include fonts(300, 14px, 30px);
        }
    }
}

/* --------------------Services Section-------------------- */

.services {

    &__title {
        padding: 100px 0 50px;
        @include fonts(800, 50px, 83px);
        text-align: center;
        text-transform: capitalize;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 50px;
    }

    &__item {
        background: #1E2028;
        border-radius: 10px;
        height: 100%;
        padding: 20px 20px 40px;
    }
}

.item {

    &__image {
        margin-bottom: 50px;
    }

    &__text {
        margin-bottom: 50px;
    }

    &__title {
        margin-bottom: 10px;
        @include fonts(600, 24px, 36px);
        text-transform: capitalize;
    }

    &__description {
        @include fonts(300, 16px, 28px);
    }

    &__link {
        @include fonts(400, 14px, 20px);

        a {
            color: #A1C5E9;
        }

        a:hover {
            text-decoration: 2px underline #A1C5E9;
        }

        img {
            padding-left: 20px;
        }
    }
}

/* PC */
/* @media (max-width: 991.98px) {} */

/* TABLET */
@media (max-width: 767.98px) {
    .services {
        &__title {
            @include fonts(800, 40px, 53px);
            padding: 20px 0;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-bottom: 0;
        }
    }
}

/* MOBILE */
@media (max-width: 479.98px) {
    .services {
        &__title {
            @include fonts(800, 30px, 50px);
        }

        &__items {
            grid-template-columns: repeat(1, 1fr);
            gap: 5px;
        }
    }
}

/* --------------------Projects Section-------------------- */
.projects {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 100px 0 50px;
    }

    &__title-text {
        @include fonts(800, 50px, 70px);
    }

    &__link {
        @include fonts(400, 14px, 20px);
        color: #A1C5E9;

        &:hover {
            text-decoration: 2px underline #A1C5E9;
        }

        & img {
            padding-left: 20px;
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;

    &__image {

        & img {
            border-radius: 10px;
            max-width: 100%;
        }
    }
}

/* PC */
/* @media (max-width: 991.98px) {} */

/* TABLET */
@media (max-width: 767.98px) {
    .projects {
        &__title {
            padding: 20px;
            align-items: center;
        }

        &__title-text {
            @include fonts(800, 40px, 53px);
        }
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

/* MOBILE */
@media (max-width: 479.98px) {
    .projects {

        &__title-text {
            @include fonts(800, 30px, 50px);
        }
    }
}

/* --------------------Founders Section-------------------- */
.founders {


    &__title {
        @include fonts(800, 50px, 75px);
        padding: 100px 0 50px;
        text-align: center;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin-bottom: 50px;
    }

    &__items-left {
        display: flex;
        flex-direction: column;

        &-1 {
            display: flex;
            margin-bottom: 25px;
            align-items: flex-end;

            img {
                border-radius: 100px 0 0;
            }

            .item-left__text {
                padding-bottom: 17px;
            }
        }

        &-2 {
            display: flex;
            align-items: flex-end;

            img {
                border-radius: 0 0 0 100px;
            }

            .item-left__text {
                padding-bottom: 86px;
            }
        }
    }

    &__items-right {
        display: flex;
        flex-direction: column;
        margin-top: 70px;

        &-1 {
            display: flex;
            margin-bottom: 25px;
            align-items: flex-end;

            img {
                border-radius: 0 100px 0 0;
            }

            .item-right__text {
                padding-bottom: 10px;
            }
        }

        &-2 {
            display: flex;
            align-items: flex-end;

            img {
                border-radius: 0 0 100px;
            }

            .item-right__text {
                padding-bottom: 110px;
            }
        }
    }
}

.item-left {

    &__text {
        @include fonts(500, 18px, 27px);
        text-align: right;
        padding-right: 15px;
    }

    &__title {
        @include fonts(500, 18px, 27px);
    }

    &__description {
        @include fonts(300, 14px, 26px);
    }
}

.item-right {

    &__text {
        @include fonts(500, 18px, 27px);
        padding-left: 15px;
    }

    &__title {
        @include fonts(500, 18px, 27px);
    }

    &__description {
        @include fonts(300, 14px, 26px);
    }
}

/* PC */
/* @media (max-width: 991.98px) {} */

/* TABLET */
@media (max-width: 767.98px) {
    .founders {
        &__items-left-1 {
            flex-direction: column;
            align-items: center;

            img {
                border-radius: 0;
            }

            .item-left__text {
                padding: 0 0 10px;
                text-align: center;
            }
        }

        &__items-left-2 {
            flex-direction: column;
            align-items: center;

            img {
                border-radius: 0;
            }

            .item-left__text {
                padding: 0 0 10px;
                text-align: center;
            }
        }

        &__items-right {
            margin-top: 0;
        }

        &__items-right-1 {
            flex-direction: column-reverse;
            align-items: center;

            img {
                border-radius: 0;
            }

            .item-right__text {
                padding: 0 0 10px;
                text-align: center;
            }
        }

        &__items-right-2 {
            flex-direction: column-reverse;
            align-items: center;

            img {
                border-radius: 0;
            }

            .item-right__text {
                padding: 0 0 10px;
                text-align: center;
            }
        }

        &__title {
            @include fonts(800, 40px, 53px);
            padding: 20px 0;
        }

        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

/* MOBILE */
@media (max-width: 479.98px) {
    .founders {
        &__title {
            @include fonts(800, 30px, 50px);
        }
    }
}

/* --------------------Testimonial Section-------------------- */
.testimonial {

    &__block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        align-items: center;
        margin: 150px 0;
    }

    &__title {
        @include fonts(800, 50px, 83px);
    }

    &__description {
        @include fonts(400, 18px, 35px);
    }
}

.quotes {
    background-color: #1E2028;
    border-radius: 10px;
    padding: 46px 35px;
    display: flex;
    flex-direction: column;

    &__image {
        margin-bottom: 20px;

        img {
            float: right;
        }
    }

    &__description {
        @include fonts(300, 16px, 31px);
        margin-bottom: 50px;
    }

    &__slider {
        padding: 0 45%;
    }
}

.profile {
    display: flex;
    margin-bottom: 17px;
    align-items: center;

    &__image {
        margin-right: 20px;
    }

    &__title {
        @include fonts(600, 18px, 22px);
    }

    &__subtitle {
        @include fonts(300, 14px, 21px);
    }
}

/* PC */
@media (max-width: 991.98px) {
    .testimonial {
        &__block {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        &__text {
            text-align: center;
        }
    }
}

/* TABLET */
@media (max-width: 767.98px) {
    .testimonial {

        &__block {
            margin: 0 0 50px;
        }

        &__title {
            @include fonts(800, 40px, 53px);
        }

        &__description {
            @include fonts(400, 16px, 35px);
        }
    }

}

/* MOBILE */
@media (max-width: 479.98px) {}

/* --------------------CTA Section-------------------- */
.call-to-action {
    background-color: #1E2028;
    margin-bottom: 50px;

    &__title {
        @include fonts(800, 50px, 80px);
        padding: 50px 0 36px;
        text-align: center;
    }

    &__button {
        text-align: center;
        margin-bottom: 50px;
    }
}

.achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 166px;
    padding-bottom: 50px;

    &__clients {
        border-left: 2px solid #FFFFFF;
        border-right: 2px solid #FFFFFF;
    }

    &__clients__count {
        @include fonts(700, 28px, 40px);
        text-align: center;
    }

    &__clients__description {
        @include fonts(400, 16px, 26px);
        text-align: center;
    }

    &__projects {
        border-left: 2px solid #FFFFFF;
        border-right: 2px solid #FFFFFF;

    }

    &__projects__count {
        @include fonts(700, 28px, 40px);
        text-align: center;
    }

    &__projects__description {
        @include fonts(400, 16px, 26px);
        text-align: center;
    }

    &__awards {
        border-left: 2px solid #FFFFFF;
        border-right: 2px solid #FFFFFF;

    }

    &__awards__count {
        @include fonts(700, 28px, 40px);
        text-align: center;
    }

    &__awards__description {
        @include fonts(400, 16px, 26px);
        text-align: center;
    }
}

/* PC */
@media (max-width: 991.98px) {
    .achievements {
        margin: 0 auto;
    }
}

/* TABLET */
@media (max-width: 767.98px) {
    .call-to-action {
        &__title {
            @include fonts(800, 40px, 50px);
            padding: 20px 0;
        }
    }
}

/* MOBILE */
@media (max-width: 479.98px) {
    .achievements {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;

        &__clients {
            border-left: none;
            border-right: none;
        }

        &__projects {
            border-left: none;
            border-right: none;
        }

        &__awards {
            border-left: none;
            border-right: none;
        }
    }


    .call-to-action {
        &__title {
            @include fonts(800, 30px, 50px);
            padding: 20px 0;
        }
    }
}